---
import Logo from "./Logo.astro";

const currentPath = Astro.url.pathname;
---

<nav class="nav-main">
  <Logo />

  <ul class="flex-row-center labellarge">
    <li>
      <a href="/" aria-current={currentPath === "/" ? true : false}>Pinned</a>
    </li>

    <li>
      <a
        href="/works"
        aria-current={currentPath === "/works" ||
        currentPath.includes("/posts/work")
          ? true
          : false}>Work</a
      >
    </li>
    <li>
      <a
        href="/blog"
        aria-current={currentPath === "/blog" ||
        currentPath.includes("/posts/blog") ||
        currentPath.includes("images")
          ? true
          : false}>Blog</a
      >
    </li>
    <!-- <li>
      <a href="/all" aria-current={currentPath === "/all" ? true : false}>All</a
      >
    </li> -->
  </ul>
</nav>

<style is:inline>
  .nav-main {
    border-radius: 32px;
    align-items: center;
    display: flex;
    padding: var(--s-sm-0) var(--s-md-0);
    transition: all 0.6s ease-in-out;
  }
  [class="compact"] > .nav-main {
    background-color: rgba(0, 0, 0, 0.75);
    flex: 0 1 auto;
  }

  [class="compact"] > .nav-main a {
    color: var(--clr-on-surface-fixed);
  }

  [class="compact"] > .nav-main svg {
    width: 64px;
  }
  .nav-main ul {
    justify-content: right;
    gap: 16px;
  }
  .nav-main > ul > li {
    text-align: right;
    /* margin-left: var(--s-md-0); */
  }

  .nav-main svg {
    transform: scale(0.6);
    width: 0;
    transition: width 0.4s;
  }

  .nav-main a[aria-current="true"] {
    color: var(--clr-accent-1);
  }
</style>
